* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans";
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #6667548b, #c3564a);
  padding: 10px;
}
.to-do-app {
  width: 100%;
  max-width: 540px;
  background-color: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 20px;
}
.to-do-app h1 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.to-do-app img {
  width: 40px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px 20px;
}
.row button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  transition: 0.4s;
}
.row button:hover {
  opacity: 0.8;
}
.row button:active {
  opacity: 0.6;
}
.hero {
  font-size: 15px;
  color: #002765;
  padding-left: 20px;
  padding-bottom: 10px;
}
#Task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#Task-list .task {
  background-color: #555;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  color: antiquewhite;
  text-align: center;
}

#Task-list .task .content .task-display {
  color: antiquewhite;
}

#Task-list .task .content .task-display:not(:read-only) {
  color: #acabab;
}
#Task-list .Edit {
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 900;
  background: #986d6d;
  color: #1c430a;
  transition: 0.4s;
}
#Task-list .Edit:hover {
  background: #835858;
  opacity: 0.8;
}
#Task-list .Edit:active {
  opacity: 0.6;
}

#Task-list .Delete {
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 900;
  background: #986d6d;
  color: crimson;
  transition: 0.4s;
}
#Task-list .Delete:hover {
  background: #835858;
  opacity: 0.8;
}
#Task-list .Delete:active {
  opacity: 0.6;
}
#Task-list .buttons {
  display: flex;
  gap: 10px;
  font-size: 30px;
  font-weight: 900;
}
.relative {
  position: relative;
}
