* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans";
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #6667548b, #c3564a);
  padding: 10px;
}
.to-do-app {
  width: 100%;
  max-width: 540px;
  background-color: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 20px;
}
.to-do-app h1 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.to-do-app img {
  width: 40px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px 20px;
}
.row button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}
ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/notchecked.png);
  background-size: cover;
  background-position: center;

  top: 11px;
  left: 8px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(images/checked.png);
}
ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
ul li span:hover {
  background: #edeef0;
}
#Task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#Task-list .task {
  background-color: #555;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  color: antiquewhite;
  text-align: center;
}

#Task-list .task .content .task-display {
  color: antiquewhite;
}

#Task-list .task .content .task-display:not(:read-only) {
  color: #acabab;
}
#Task-list .Edit {
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 900;
  background: #986d6d;
  color: #1c430a;
}
#Task-list .Edit:hover {
  background: #835858;
}
#Task-list .Delete {
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 900;
  background: #986d6d;
  color: crimson;
}
#Task-list .Delete:hover {
  background: #835858;
}
#Task-list .buttons {
  display: flex;
  gap: 10px;
  font-size: 30px;
  font-weight: 900;
}
.relative {
  position: relative;
}
